In [1]:
import psycopg2
import pandas as pd

In [2]:
def ConnectDatabase( database, user, password,ip = "localhost", port = 5432):
    conn = psycopg2.connect(host=ip ,database=database, user=user, password=str(password),port = port)
    conn.autocommit = True
    print("Connect Success")
    cursor = conn.cursor()
    return cursor

In [3]:
def Drop(database,table):
    database.execute("DROP table if exists {} CASCADE;".format(table))

In [4]:
def CreateUniversity(database):
    print("Create Table university.")
          
    query = '''Create Table university(
                    id CHAR(3) PRIMARY KEY, 
                    name VARCHAR NOT NULL,
                    position VARCHAR NOT NULL 
                    );'''

    database.execute(query)

In [5]:
def InsertUniversity(database):
    print("Insert Data into university.\n")
    
    nameID = pd.read_csv("../datas/name2ID.csv")
    namePos = pd.read_csv("../datas/alluniversity.csv")
    #merge two data
    data = list()
    for (i,j) in zip(list(nameID['name']),list(nameID['ID'])):
        for (name,pos)   in zip(list(namePos['學校名稱']),list(namePos['學校地址'])):
            if(i in name):
                data.append((j,i,pos))
    #create query 
    query = '''INSERT INTO university \n Values '''
   
    for (ID,name,pos) in data:
        query+= "('"+str(ID).zfill(3) +"','"+name +"','"+pos+"')"+",\n"
    query = query[:-2]
    query += ';'
   
    database.execute(query)

In [6]:
def CreateAcademy(database):
    print("Create Table academy.")
    
    query = '''Create Table academy(
                    name VARCHAR PRIMARY KEY 
                   
                    );'''

    database.execute(query)

In [7]:
def InsertAcademy(database):
    print("Insert Data into academy.\n")
    
    aca = pd.read_csv("../datas/Group.csv")
    query = '''INSERT INTO academy \n Values '''
    
    for i in aca['Group']:
        query+= "('"+i+"'),\n"
    query = query[:-2]
    
    
    database.execute(query)

In [8]:
def CreateMainDepartment(database):
    print("Create Table mainDepartment.")
    
    query = '''Create Table mainDepartment(
                    academy VARCHAR NOT NULL,
                    department VARCHAR NOT NULL,
                    subject VARCHAR NOT NULL,
                    
                    FOREIGN KEY (academy) REFERENCES academy(name),
                    PRIMARY KEY (academy, department) 
                   
                    );'''

    database.execute(query)

In [9]:
def InsertMainDepartment(database):
    print("Insert Data into mainDepartment.\n")
    
    md =  pd.read_csv("../datas/Group_Department_Subject.csv")
    query = '''INSERT INTO MainDepartment \n Values '''
    
    for (i,j,k) in zip(md['Group'],md['Department'],md['Subjects']):
        query+= "('"+i+"','"+j+"','"+k+"'),\n"
    query = query[:-2]
    
    
    database.execute(query)

In [10]:
def CreateDepartment(database):
    print("Create Table department.")
 
    query = '''Create Table department(
                    id VARCHAR NOT NULL,
                    name VARCHAR NOT NULL,
                    
                    university_id CHAR(3) NOT NULL,
                    academy VARCHAR NOT NULL,
                    
                    PRIMARY KEY (id), 
                    FOREIGN KEY (academy) REFERENCES academy(name),
                    FOREIGN KEY (university_id) REFERENCES university(id)
                   
                    );'''    
    database.execute(query)

In [51]:
def  InsertDepartment(database):
    print("Insert Data into department.\n")
    
    df1 = pd.read_csv('../datas/學測output.csv')
    df2 = pd.read_csv('../datas/指考.csv')
    df3 = pd.read_csv("../datas/department2group.csv")
    df4 = pd.read_csv("../datas/name2ID.csv")
    
    name2ID = dict()
    
    for i in zip(df4['ID'],df4['name']):
        name2ID[i[1]] = str(i[0]).zfill(3)
  
    department2group = dict()
    
    for j in df3['University']:
        department2group[name2ID[j]] = dict()
    
    for (i,j,k) in zip( df3['University'],df3['DEPARTMENT'],df3['(code)Group']):
         department2group[name2ID[i]][j] = k.split(')')[1][:-2]
        
    
    query = '''INSERT INTO department \n Values '''
    
    for i in dep:
        for j in dep[i]:  
            
            if(department2group[i].get(j,10)==10):
                print(i+','+j)
            #query+= "('"+i+str(dep[i][j]).zfill(3) +"','"+j +"','"+i+"',"+department2group[i][j]+"')"+",\n"
    #query = query[:-2]
   # query += ';'
   
 
    #database.execute(query)

In [41]:
df1 = pd.read_csv("../datas/Group_Department.csv")

In [52]:
InsertDepartment(1)

Insert Data into department.

005,社會工作學系(連江公費生)
003,電機工程學系甲組
003,應用數學系應用數學組
003,應用數學系數據科學與計算組
003,電機工程學系乙組
003,台灣人文創新學士學位學程
003,電機資訊學院學士班
003,興翼招生A組(商學管理)
003,興翼招生B組(文史法律)
003,興翼招生C組(化學數學)
003,興翼招生D組(化材電資暨工程)
003,興翼招生E組(生物資源暨農業科技)
003,興翼招生F組(生物科技暨獸醫)
004,都市計劃學系(自然組)
004,醫學系(自費)
004,全校不分系學士學位學程
004,都市計劃學系(社會組)
004,醫學系(公費)
004,牙醫學系
004,機械工程學系(普渡雙聯組)
004,電機工程學系(普渡雙聯組)
004,資訊工程學系(普渡雙聯組)
004,能源工程國際學士學位學程
007,醫學系(自費)
007,醫學系(公費)
007,生命科學院學士班
007,醫學系(薪火A1組)
007,牙醫學系(薪火A2組)
007,藥學系(薪火A3組)
007,薪火招生B組
007,薪火招生C組
007,薪火招生D組
002,東亞學系
002,營養科學學士學位學程
002,工業教育學系
002,教育學院學士班
002,光電工程學士學位學程
002,車輛與能源工程學士學位學程
002,教育學系(公費生)
002,社會教育學系(青年儲蓄帳戶組)
002,英語學系(公費生)
006,東南亞語言與文化學士學位學程
006,統計學系社會組
006,資訊管理學系社會組
006,資訊管理學系自然組
006,統計學系自然組
006,傳播學院大一大二不分系自然組
006,傳播學院大一大二不分系社會組
006,傳播學院大一大二不分系(社會組)
006,傳播學院大一大二不分系(自然組)
006,傳播學院大一大二不分系(青年儲蓄帳戶組)
006,資訊科學系(青年儲蓄帳戶組)
006,創新國際學院學士班
006,政星招生甲組
006,政星招生乙組
008,商業設計學系商業設計組
008,商業設計學系產品設計組
008,中原大學與美國天普大學商學管理雙學士學位學程
001,生物機電工程學系
001,地理環境資源學系A組
001,醫學工程學系
001,醫學系(公費)
001,醫學系(自費)
001,地理環境資源學系B組
001,希望組甲組(文社法)
001,希望組乙組(數理)
001,希望組丙組(生醫)
001,希望組丁組(電資)
001,希望組戊組(商管)
001,希望組己組(工)
001,希望組庚組(生農)
001,醫學系(希望組辛組)
011,計量財務金融學系甲組
011,數學系甲組(數學組)
011,數學系乙組(應用數學組)
011,物理學系物理組(甲組一般組)
011,工程與系統科學系甲組(低碳綠能組)
011,動力機械工程學系甲組
011,材料科學工程學系甲組
011,經濟學系第1組
011,工程與系統科學系乙組(智慧奈米系統組)
011,電機資訊學院學士班甲組
011,計量財務金融學系乙組
011,動力機械工程學系乙組
011,經濟學系第2組
011,物理學系物理組(乙組天文物理組)
011,材料科學工程學系乙組
011,教育與學習科技學系(自費)
011,竹師教育學院學士班乙組(永續發展教育組)
011,資訊工程學系丙組(人工智慧組)
011,英語教學系(自費)
011,竹師教育學院學士班甲組(雙專長組)
011,藝術學院學士班
011,運動科學系
011,電機資訊學院學士班乙組
011,教育與學習科技學系(公費)
011,英語教學系(公費)
011,英語教學系(公費生)
011,清華學院學士班戊組(青年儲蓄帳戶組)
011,旭日招生甲組(人文、教育)
011,旭日招生乙組(科管)
011,旭日招生丙組(原科、生科、理學)
011,旭日招生丁組(工學院)
011,旭日招生戊組(電資院)
013,材料科學與工程學系乙組
013,電機工程學系甲組
013,電機工程學系乙組
013,資訊工程學系甲組
013,資訊工程學系乙組
013,材料科學與工程學系甲組
013,理學院科學學士學位學程甲組
013,資訊工程學系(甲組)
013,資訊工程學系(乙組)
009,電機工程學系
009,應用物理學系(A組)
009,資訊工程學系(資電工程組)
009,環境科學與工程學系(自然A組)
009,高齡健康與運動科學學士學位學程
009,食品科學系(A組)
009,應用數學系(A組)
009,工業工程與經營資訊學系(智慧設計與生產組)
009,統計學系(決策管理組)
009,統計學系(巨量資料管理組)
009,化學系化學生物組(A組)
009,畜產與生物科技學系(A組)
009,資訊工程學系(軟體工程組)
009,資訊工程學系(人工智慧組)
009,環境科學與工程學系(自然B組)
009,畜產與生物科技學系(B組)
009,化學系化學生物組(B組)
009,工業工程與經營資訊學系(智慧經營與管理組)
009,食品科學系(B組)
009,應用數學系(B組)
009,企業管理學系(服務創新與經營組)
009,國際學院國際經營管理學位學程
009,永續科學與工程學士學位學程
009,應用物理學系(B組)
009,財務金融學系(青年儲蓄帳戶組)
009,社會學系(青年儲蓄帳戶組)
009,畜產與生物科技學系(青年儲蓄帳戶組)
016,大氣科學學系
016,數學系數學科學組
016,太空科學與工程學系
016,理學院學士班
016,工學院學士班
016,資訊電機學院學士班
016,數學系計算與資料科學組
016,地球科學學院學士班
016,文學院學士班
016,向日葵聯合招生甲組(電資)
016,向日葵聯合招生乙組(商管)
016,向日葵聯合招生丙組(理學)
016,向日葵聯合招生丁組(工程)
016,向日葵聯合招生戊組(人社)
014,土木工程學系
014,國際觀光管理學系全英語學士班(蘭陽校園)(產業實習組)
014,風險管理與保險學系
014,國際觀光管理學系全英語學士班(蘭陽校園)(海外實習組)
014,國際觀光管理學系全英語學士班(海外實習組蘭陽校園)
014,國際觀光管理學系全英語學士班(產業實習組蘭陽校園)
014,財務金融學系(青年儲蓄帳戶組)
014,機械與機電工程學系光機電整合組(青年儲蓄帳戶組)
014,機械與機電工程學系精密機械組(青年儲蓄帳戶組)
015,統計學系商業大數據組
015,工業工程與系統管理學系A組
015,水利工程與資源保育學系A組
015,電子工程學系乙組
015,都市計畫與空間資訊學系
015,應用數學系A組
015,自動控制工程學系甲組
015,資訊工程學系甲組
015,電子工程學系甲組
015,電機工程學系甲組
015,通訊工程學系甲組
015,資訊電機學院學士班甲組
015,光電科學與工程學系A組
015,電機工程學系乙組
015,工業工程與系統管理學系B組
015,應用數學系B組
015,資訊工程學系乙組
015,資訊電機學院學士班乙組
015,光電科學與工程學系B組
015,水利工程與資源保育學系B組
015,統計學系大數據分析與市場決策組
015,通訊工程學系乙組
015,自動控制工程學系乙組
015,光電科學與工程學系
015,資訊電機學院學士班
015,美國加州聖荷西州立大學商學大數據分析雙學士學位學程
015,美國加州聖荷西州立大學工程雙學士學位學程
015,美國加州舊金山州立大學資訊工程雙學士學位學程
017,資訊管理學系(雲端服務暨巨量資料組)
017,廣告學系A組
017,資訊工程學系B組
017,勞動暨人力資源學系
017,資訊管理學系(智慧商務科技組)
017,電機工程學系A組
017,資訊工程學系A組
017,地理學系A組
017,土地資源學系B組
017,法律學系企業金融法制組
017,土地資源學系A組
017,地理學系B組
017,電機工程學系B組
017,音樂學系B組
017,日本語文學系(青年儲蓄帳戶組)
017,韓國語文學系(青年儲蓄帳戶組)
017,英國語文學系(青年儲蓄帳戶組)
017,經濟學系(青年儲蓄帳戶組)
017,社會福利學系(青年儲蓄帳戶組)
017,大眾傳播學系(青年儲蓄帳戶組)
017,都市計劃與開發管理學系(青年儲蓄帳戶組)
017,景觀學系(青年儲蓄帳戶組)
019,化學工程與生物科技學系(化學工程組)
019,媒體設計學系數位遊戲設計組(社會組一)
019,機械工程學系電子機械組(甲組)
019,機械工程學系精密機械組(甲組)
019,資訊工程學系(甲組)
019,電機工程學系(甲組)
019,機械工程學系電子機械組(乙組)
019,工業設計學系(社會一組)
019,事業經營學系(甲組)
019,化學工程與生物科技學系(生物科技組)
019,媒體設計學系互動媒體設計組(社會組一)
019,電機工程學系(乙組)
019,工業設計學系(自然一組)
019,工程學院大一不分系學士班
019,事業經營學系(乙組)
019,媒體設計學系數位遊戲設計組(社會組二)
019,媒體設計學系互動媒體設計組(社會組二)
019,資訊工程學系(乙組)
019,工業設計學系(自然二組)
019,機械工程學系精密機械組(乙組)
019,工業設計學系(社會二組)
019,媒體設計學系互動媒體設計組(自然組)
019,媒體設計學系數位遊戲設計組(自然組)
019,化學工程與生物科技學系
019,工程學院學士班
019,電機工程學系
019,材料工程學系(青年儲蓄帳戶組)
019,電機工程學系(青年儲蓄帳戶組)
019,資訊工程學系(青年儲蓄帳戶組)
022,電機工程學系
018,生態人文學系(人文組)
018,生態人文學系(自然組)
018,國際企業學系(國際經營與行銷組)
018,資訊工程學系(智慧電子與數位系統設計組)
018,資訊傳播工程學系(虛擬實境多媒體應用組)
018,國際企業學系(國際貿易與運籌組)
018,資訊管理學系(應用軟體開發組)
018,資訊傳播工程學系(人工智慧產學實作組)
018,觀光事業學系(甲組)
018,財務金融學系(金融管理組)
018,財務工程學系
018,資料科學暨大數據分析與應用學系
018,財務金融學系(投資管理組)
018,資訊管理學系(行動與雲端商務組)
018,資訊管理學系(物聯網應用組)
018,資訊工程學系(人工智慧與網路技術組)
018,資訊工程學系(智慧生活與服務設計組)
018,資訊傳播工程學系(互動科技整合設計組)
018,觀光事業學系(乙組)
018,觀光事業學系(丙組)
018,英國語文學系-一般組
018,英國語文學系-類繁星組
018,西班牙語文學系-一般組
018,西班牙語文學系-類繁星組
018,日本語文學系-一般組
018,日本語文學系-類繁星組
018,中國文學系-一般組
018,中國文學系-類繁星組
018,社會工作與兒童少年福利學系-一般組
018,社會工作與兒童少年福利學系-類繁星組
018,台灣文學系-一般組
018,台灣文學系-類繁星組
018,法律學系-一般組
018,法律學系-類繁星組
018,生態人文學系-一般組
018,生態人文學系-類繁星組
018,大眾傳播學系-一般組
018,大眾傳播學系-類繁星組
018,財務工程學系-一般組
018,財務工程學系-類繁星組
018,應用化學系-一般組
018,應用化學系-類繁星組
018,食品營養學系營養與保健組-一般組
018,食品營養學系營養與保健組-類繁星組
018,食品營養學系食品與生物技術組-一般組
018,食品營養學系食品與生物技術組-類繁星組
018,化粧品科學系-一般組
018,化粧品科學系-類繁星組
018,資料科學暨大數據分析與應用學系-一般組
018,資料科學暨大數據分析與應用學系-類繁星組
018,企業管理學系-一般組
018,企業管理學系-類繁星組
018,國際企業學系-一般組
018,國際企業學系-類繁星組
018,會計學系-一般組
018,會計學系-類繁星組
018,觀光事業學系-一般組
018,觀光事業學系-類繁星組
018,財務金融學系-一般組
018,財務金融學系-類繁星組
018,資訊管理學系-一般組
018,資訊管理學系-類繁星組
018,資訊工程學系-一般組
018,資訊工程學系-類繁星組
018,資訊傳播工程學系-一般組
018,資訊傳播工程學系-類繁星組
018,寰宇外語教育學士學位學程-一般組
018,寰宇外語教育學士學位學程-類繁星組
021,光電與材料科技學系
021,河海工程學系(青年儲蓄帳戶組)
021,電機工程學系(青年儲蓄帳戶組)
021,資訊工程學系(青年儲蓄帳戶組)
021,海洋觀光管理學士學位學程(青年儲蓄帳戶組)
021,海洋經營管理學士學位學程(青年儲蓄帳戶組)
020,電機工程學系
020,景觀設計學系(社會組)
020,景觀設計學系(自然組)
020,醫學系(自費)
020,醫學系(公費)
020,公共衛生學系(青年儲蓄帳戶組)
020,醫學系(公費生)
020,企業管理學系(青年儲蓄帳戶組)
023,揚鷹招生A組(教文社)
023,揚鷹招生B組(管理)
023,揚鷹招生C組(理工)
025,醫學系(自費)
025,醫學系(公費)
025,醫學系醫師組
025,醫學系醫師科學家組
025,醫學系醫師工程師組
025,護理學系(青年儲蓄帳戶組)
025,生物醫學暨工程學院聯合招生
025,醫學系璞玉組
025,牙醫學系璞玉組
025,不分系招生璞玉組
027,資訊管理學系(社會組)
027,資訊工程學系甲組
027,電機工程學系甲組
027,機械與機電工程學系甲組
027,材料與光電科學學系甲組
027,電機工程學系乙組
027,光電工程學系甲組
027,資訊管理學系(自然組)
027,機械與機電工程學系乙組
027,資訊工程學系乙組
027,光電工程學系乙組
027,材料與光電科學學系乙組
027,材料與光電科學學系丙組
027,人文暨科技跨領域學士學位學程
027,西灣南星A組(文學院)
027,西灣南星B組(管理學院)
027,西灣南星C組(理學院)
027,西灣南星D組(工學院)
027,西灣南星E組(海科院)
027,西灣南星F組(社科院)
027,西灣南星G組(西灣學院)
030,工業設計學系(自然組)
030,工商管理學系(自然組)
030,醫務管理學系(社會組)
030,醫務管理學系(自然組)
030,資訊管理學系(社會組)
030,人工智慧學士學位學程
030,電機工程學系
030,醫學系(自費)
030,工業設計學系(社會組)
030,資訊管理學系(自然組)
030,工商管理學系(社會組)
030,醫學系(公費)
030,鯤鵬展翅組
031,特殊教育學系(自費)
031,台灣語文學系
031,英語學系(自費)
031,英語學系(公費)
031,特殊教育學系(公費)
031,英語學系(公費生)
031,科學教育與應用學系(青年儲蓄帳戶組)
034,應用數學系統計科學組(自然組)
034,資訊工程學系資工組
034,法律學系
034,大一不分系學士班
034,原住民族樂舞與藝術學士學位學程
034,應用數學系統計科學組(社會組)
034,資訊工程學系國際組
034,英美語文學系(公費生)
033,數位學習科技學系(自然組)
033,數位學習科技學系(社會組)
033,教育學系(公費生甲組)
033,教育學系(公費生乙組)
035,特殊教育學系(公費生)
035,幼兒教育學系(青年儲蓄帳戶組)
035,數學系(青年儲蓄帳戶組)
035,資訊科學系(青年儲蓄帳戶組)
032,兒童英語教育學系(自費)
032,藝術與造形設計學系藝術組(自費)
032,兒童英語教育學系(公費)
032,藝術與造形設計學系藝術組(公費)
032,教育經營與管理學系(芝山組)
032,心理與諮商學系(芝山組)
032,自然科學教育學系(芝山組)
032,幼兒與家庭教育學系(芝山組)
032,數學暨資訊教育學系數學組(公費生)
032,兒童英語教育學系(公費生)
038,幼兒教育學系(公費生)
036,英語學系(自費)
036,視覺藝術學系數位媒體設計組
036,資訊工程學系
036,智慧機器人學系
036,英語學系(公費)
039,體育推廣學系A
039,適應體育學系A
039,運動保健學系B
039,適應體育學系B
039,體育推廣學系(啦啦隊組)
039,體育推廣學系(青年儲蓄帳戶組)
039,適應體育學系(圍棋組)
040,資訊工程學系(資訊應用組)
040,電機工程學系(甲組)
040,工業工程與管理學系(A組)
040,資訊工程學系(資訊工程組)
040,資訊管理學系(社會組)
040,電機工程學系(丙組)
040,電機工程學系(乙組)
040,工業工程與管理學系(B組)
040,資訊管理學系(自然組)
040,人文社會學院英語學士班
040,工程學院英語學士班
040,資訊學院英語學士班
040,電機通訊學院英語學士班
041,電機工程學系甲組
041,電機工程學系乙組
041,嘉星招生甲組(工)
041,嘉星招生乙組(管)
041,嘉星招生丙組(法)
041,嘉星招生丁組(文)
041,嘉星招生戊組(理)
041,嘉星招生己組(社)
041,嘉星招生庚組(教)
041,嘉星招生辛組(心)
042,造形藝術學系
042,空間設計學系(建築組)
042,資訊管理學系
042,食品暨應用生物科技學系(健康生技組)
042,企業管理學系(數位行銷組)
042,醫學工程學系
042,會計資訊學系
042,醫學工程學系(智慧醫療組)
042,醫療器材設計與材料學士學位學程(醫學應用組)
042,生物醫學系(生物醫藥組)
042,休閒事業管理學系(休閒企劃組)
042,運動健康管理學系
042,食品暨應用生物科技學系(食品科學組)
042,生物資源學系(醫藥微生物組)
042,生物醫學系(檢驗醫學組)
042,多媒體數位內容學士學位學程
042,國際企業管理學系
042,空間設計學系(室內設計組)
042,機械與自動化工程學系
042,資訊工程學系(資訊工程組)
042,資訊工程學系(資訊應用組)
042,環境工程學系(環境管理組)
042,會計資訊學系(投資理財組)
042,國際企業管理學系(國際貿易組)
042,國際企業管理學系(跨境電商組)
042,休閒事業管理學系
043,應用日語學系
043,工業管理學系(甲組)
043,機械工程學系航空技術組
043,景觀建築學系景觀設計組
043,財務管理學系財務金融管理組
043,建築與都市計畫學系(第二類組)
043,資訊管理學系(資訊管理應用組)
043,企業管理學系智慧運輸與物流組
043,工業管理學系(乙組)
043,資訊工程學系智慧軟體設計組
043,光電與材料工程學系(生醫光電組)
043,資訊管理學系(資訊系統設計與智慧製造組)
043,光電與材料工程學系(綠能光電組)
043,建築與都市計畫學系(第一類組)
043,機械工程學系智慧機械組
043,財務管理學系會計資訊與稅務組
043,景觀建築學系產品設計組
043,觀光與會展活動學系旅遊與休閒管理組
043,觀光與會展活動學系會展與活動管理組
043,餐旅管理學系
043,資訊工程學系人工智慧組
043,資訊管理學系(手機軟體設計組)
043,資訊管理學系(巨量資料應用組)
043,光電與材料工程學系(材料應用組)
043,財務管理學系金融資訊管理組
043,應用日語學系(商務組)
043,應用日語學系(語文組)
043,應用日語學系(觀光組)
043,英國西英格蘭大學企業管理雙學士學位學程
045,電機工程學系甲組
045,資訊工程學系資訊工程組
045,資訊管理學系人工智慧與電子商務組
045,通訊工程學系智慧軟體應用組
045,材料科學與工程學系甲組
045,財務金融管理學系財務管理組
045,生物醫學工程學系智慧醫療應用組
045,電子工程學系光電組
045,化學工程學系甲組
045,財務與計算數學系甲組
045,電機工程學系乙組
045,大眾傳播學系
045,營養學系臨床營養組
045,餐旅管理學系餐飲管理組
045,國際企業經營學系(國際學院)
045,國際財務金融學系國際貿易組(國際學院)
045,國際觀光餐旅學系(國際學院)
045,化學工程學系乙組
045,電子工程學系微電腦應用組
045,數位多媒體設計學系
045,創意商品設計學系
045,財務金融管理學系金融科技組
045,資訊管理學系大數據與雲端運算服務組
045,營養學系食品營養組
045,資訊工程學系資訊應用組
045,通訊工程學系智慧網通科技組
045,材料科學與工程學系乙組
045,財務與計算數學系乙組
045,智慧化自動控制英語學士學位學程
045,餐旅管理學系旅館管理組
045,國際財務金融學系財務投資組(國際學院)
045,生物醫學工程學系生醫技術應用組
045,醫學系(公費生)
045,傳播產製英語學士學位學程
045,企業管理學系
047,口語傳播暨社群媒體學系
046,資訊傳播工程學系(桃園校區)
046,新媒體暨傳播管理學系(台北校區)
046,應用統計與資料科學學系應用統計組(桃園校區)
046,應用中國文學系文教組(桃園校區)
046,應用日語學系(桃園校區)
046,應用英語學系英語教學與文化溝通組(桃園校區)
046,法律學系(台北校區)
046,企業管理學系品牌行銷組(台北校區)
046,犯罪防治學系(桃園校區)
046,風險管理與保險學系保險金融與行銷組(台北校區)
046,財金法律學系(台北校區)
046,財務金融學系財務金融組(台北校區)
046,廣播電視學系(台北校區)
046,商品設計學系(桃園校區)
046,商業設計學系(桃園校區)
046,國際企業學系跨境電商經營組(台北校區)
046,廣告暨策略行銷學系(台北校區)
046,會計學系會計審計組(台北校區)
046,新聞學系(台北校區)
046,經濟與金融學系金融理財組(桃園校區)
046,資訊管理學系雲端技術管理組(桃園校區)
046,數位媒體設計學系多媒體遊戲組(桃園校區)
046,觀光事業學系(桃園校區)
046,建築學系(桃園校區)
046,企業管理學系企業管理組(台北校區)
046,餐旅管理學系(桃園校區)
046,電子工程學系半導體光電組(桃園校區)
046,資訊管理學系巨量資料管理組(桃園校區)
046,醫療資訊與管理學系(桃園校區)
046,生物科技學系(桃園校區)
046,公共事務學系公共管理組(桃園校區)
046,都市規劃與防災學系(桃園校區)
046,諮商與工商心理學系(桃園校區)
046,生物醫學工程學系專利醫材組(桃園校區)
046,華語文教學學系應用語言組(桃園校區)
046,國際企業學系外貿行銷管理組(台北校區)
046,財務金融學系國際金融管理組(台北校區)
046,數位媒體設計學系動畫影視組(桃園校區)
046,休閒遊憩管理學系(桃園校區)
046,資訊工程學系(桃園校區)
046,資訊管理學系電子商務管理組(桃園校區)
046,電腦與通訊工程學系(桃園校區)
046,電子工程學系計算機應用組(桃園校區)
046,國際企業學系全球運籌營運組(台北校區)
046,生物醫學工程學系智慧醫療組(桃園校區)
046,國際企業與貿易學士學位學程(全英語授課．台北校區)
046,金融科技應用學士學位學程(桃園校區)
046,動漫文創設計學士學位學程(桃園校區)
046,國際事務與外交學士學位學程(全英語授課．桃園校區)
046,會計學系稅務規劃組(台北校區)
046,風險管理與保險學系風險管理組(台北校區)
046,應用統計與資料科學學系大數據管理組(桃園校區)
046,經濟與金融學系應用經濟組(桃園校區)
046,企業管理學系數位經營組(台北校區)
046,應用中國文學系文創組(桃園校區)
046,應用英語學系英語商務與觀光組(桃園校區)
046,華語文教學學系創新教學組(桃園校區)
046,公共事務學系專案管理組(桃園校區)
046,新聞與大眾傳播學士學位學程(全英語授課．台北校區)
046,時尚與創新管理學士學位學程(全英語授課．台北校區)
046,資訊科技應用與管理學士學位學程(全英語授課．桃園校區)
046,企業管理學系品牌行銷組(臺北)
046,企業管理學系企業管理組(臺北)
046,企業管理學系數位經營組(臺北)
046,會計學系會計審計組(臺北)
046,會計學系稅務規劃組(臺北)
046,財務金融學系國際金融管理組(臺北)
046,財務金融學系財務金融組(臺北)
046,風險管理與保險學系保險金融與行銷組(臺北)
046,風險管理與保險學系風險管理組(臺北)
046,國際企業學系跨境電商經營組(臺北)
046,國際企業學系外貿行銷管理組(臺北)
046,國際企業學系全球運籌營運組(臺北)
046,新媒體暨傳播管理學系(臺北)
046,廣播電視學系(臺北)
046,廣告暨策略行銷學系(臺北)
046,新聞學系(臺北)
046,法律學系(臺北)
046,財金法律學系(臺北)
046,國際企業與貿易學士學位學程(全英語授課．臺北)
046,新聞與大眾傳播學士學位學程(全英語授課．臺北)
046,時尚與創新管理學士學位學程(全英語授課．臺北)
046,國際事務與外交學士學位學程(全英語授課．桃園)
046,資訊科技應用與管理學士學位學程(全英語授課．桃園)
046,應用中國文學系文教組(桃園)
046,應用中國文學系文創組(桃園)
046,應用英語學系英語教學與文化溝通組(桃園)
046,應用英語學系英語商務與觀光組(桃園)
046,應用日語學系(桃園)
046,華語文教學學系應用語言組(桃園)
046,華語文教學學系創新教學組(桃園)
046,商業設計學系(桃園)
046,商品設計學系(桃園)
046,數位媒體設計學系(桃園)
046,建築學系(桃園)
046,都市規劃與防災學系(桃園)
046,動漫文創設計學士學位學程(桃園)
046,觀光事業學系(桃園)
046,休閒遊憩管理學系(桃園)
046,餐旅管理學系(桃園)
046,犯罪防治學系(桃園)
046,公共事務學系(桃園)
046,諮商與工商心理學系(桃園)
046,應用統計與資料科學學系應用統計組(桃園)
046,應用統計與資料科學學系大數據管理組(桃園)
046,經濟與金融學系金融理財組(桃園)
046,經濟與金融學系應用經濟組(桃園)
046,金融科技應用學士學位學程(桃園)
046,資訊管理學系雲端技術管理組(桃園)
046,資訊管理學系巨量資料管理組(桃園)
046,資訊管理學系電子商務管理組(桃園)
046,資訊傳播工程學系(桃園)
046,資訊工程學系(桃園)
046,電子工程學系半導體光電組(桃園)
046,電子工程學系計算機應用組(桃園)
046,電腦與通訊工程學系(桃園)
046,醫療資訊與管理學系健康產業管理組(桃園)
046,醫療資訊與管理學系醫療資訊組(桃園)
046,生物科技學系生物醫學組(桃園)
046,生物科技學系食品生技組(桃園)
046,生物醫學工程學系專利醫材組(桃園)
046,生物醫學工程學系智慧醫療組(桃園)
046,企業管理學系(青年儲蓄帳戶組．臺北)
046,風險管理與保險學系(青年儲蓄帳戶組．臺北)
046,財金法律學系(青年儲蓄帳戶組．臺北)
046,華語文教學學系(青年儲蓄帳戶組．桃園)
046,金融科技應用學士學位學程(青年儲蓄帳戶組．桃園)
051,社會工作學系(B組)
051,土地管理與開發學系
051,國際企業學系
051,應用哲學系(公共參與組)
051,創新應用管理學系
051,蘭花產業應用學士學位學程(蘭花國際行銷組)
051,職業安全與衛生學系(社會組)
051,職業安全與衛生學系(自然組)
051,醫務管理學系(健康資訊服務組)
051,企業管理學系
051,綠能與環境資源學系(自然組)
051,資訊暨設計學院學士班媒體設計組
051,應用日語學系
051,美術學系
051,資訊暨設計學院學士班資訊工程組
051,保健營養學系
051,資訊暨設計學院學士班數位內容設計組
051,蘭花產業應用學士學位學程(蘭花生技組)
051,醫藥科學產業學系
051,無人機應用學士學位學程
051,綠能與環境資源學系(社會組)
051,環境與食品安全檢驗學士學位學程(環境檢驗組)
051,資訊暨設計學院學士班互動設計組
051,醫務管理學系(醫院經營管理組)
051,醫務管理學系(長照機構管理組)
051,環境與食品安全檢驗學士學位學程(食品檢驗組)
051,環境與食品安全檢驗學士學位學程(食品安全管理組)
051,消防安全學士學位學程(自然組)
051,社會工作學系(C組)
051,應用哲學系(社會關懷組)
051,資訊暨設計學院學士班資訊管理組
051,醫學社會暨健康照護學士學位學程(健康照護組)
051,醫學社會暨健康照護學士學位學程(醫學社會組)
051,東南亞文化與產業學士學位學程
051,資訊暨設計學院學士班(不分系)
051,書畫藝術學系(乙組)
051,消防安全學士學位學程(社會組)
051,社會工作學系(A組)
051,企業管理學系數位經營組
051,國際企業學系跨境行銷組
051,國際企業學系貿易物流組
051,國際企業學系商務管理組
051,航運管理學系(青年儲蓄帳戶組)
051,財務金融學系產業實習組
051,觀光與餐飲管理學系觀光旅遊組
051,觀光與餐飲管理學系餐飲技術組
051,觀光與餐飲管理學系餐飲管理組
051,醫務管理學系醫院經營管理組
051,醫務管理學系長照機構管理組
051,醫務管理學系健康資訊服務組
051,生物科技學系醫藥生技行銷管理組
051,生物科技學系生物檢測組
051,生物科技學系生物醫學組
051,護理學系A組
051,護理學系B組
051,護理學系C組
051,醫藥科學產業學系藥物科技組
051,醫學社會暨健康照護學士學位學程醫學社會組
051,蘭花產業應用學士學位學程蘭花國際行銷組
051,蘭花產業應用學士學位學程蘭花生技組
051,職業安全與衛生學系職業安全衛生管理組
051,職業安全與衛生學系職場健康促進管理組
051,職業安全與衛生學系(青年儲蓄帳戶組)
051,綠能與環境資源學系綠能產業管理組
051,綠能與環境資源學系綠能產業實習組
051,綠能與環境資源學系綠能環境科技組
051,大眾傳播學系A組
051,大眾傳播學系B組
051,大眾傳播學系C組
051,翻譯學系國際經貿翻譯組
051,翻譯學系語言教學與觀光組
051,翻譯學系(青年儲蓄帳戶組)
051,社會工作學系
051,社會工作學系A組
051,社會工作學系B組
051,社會工作學系C組
051,應用哲學系社會關懷組
051,東南亞文化與產業學士學位學程文化與觀光組
051,東南亞文化與產業學士學位學程產業與商貿組
050,觀光管理學系國際領隊與導遊組(高雄校區)
050,會計暨稅務學系財富管理組(高雄校區)
050,金融管理學系投資操作組(高雄校區)
050,行銷管理學系百貨服務業管理組(高雄校區)
050,資訊模擬與設計學系電腦動畫設計組(高雄校區)
050,休閒產業管理學系休閒文創規劃組(高雄校區)
050,應用中文學系文創設計組(高雄校區)
050,國際企業英語學士學位學程(臺北校區)
050,會計暨稅務學系科技應用組(高雄校區)
050,資訊科技與通訊學系人工智慧應用設計組(高雄校區)
050,智慧服務管理英語學士學位學程(臺北校區)
050,行銷管理學系創客企劃組(高雄校區)
050,金融管理學系金融科技組(高雄校區)
050,金融管理學系數位行銷組(高雄校區)
050,資訊模擬與設計學系互動遊戲設計組(高雄校區)
050,應用中文學系劇本創作組(高雄校區)
050,資訊管理學系資訊應用組(高雄校區)
050,應用中文學系文化傳播組(高雄校區)
050,資訊模擬與設計學系AR/VR體感科技組(高雄校區)
050,行銷管理學系數位行銷與市調組(高雄校區)
050,電腦動畫學士學位學程角色組(高雄校區)
050,電腦動畫學士學位學程電影特效組(高雄校區)
050,觀光管理學系航空旅運組(高雄校區)
050,觀光管理學系智慧旅遊暨多媒體組(高雄校區)
050,觀光管理學系國際飯店暨會展管理組(高雄校區)
050,觀光管理學系境外日本實務組(高雄校區)
050,觀光管理學系民宿暨特色餐飲組(高雄校區)
050,休閒產業管理學系遊憩運動企劃組(高雄校區)
050,國際貿易學系貿易經營組(高雄校區)
050,國際貿易學系貿易會展組(高雄校區)
050,國際貿易學系貿易外文組(高雄校區)
050,國際企業管理學系兩岸工商管理組(高雄校區)
050,國際企業管理學系德國經貿商務組(高雄校區)
050,會計暨稅務學系企業治理組(高雄校區)
050,會計暨稅務學系洗錢防制組(高雄校區)
050,金融管理學系金融實務組(高雄校區)
050,金融管理學系金融商品組(高雄校區)
050,金融管理學系財務數理組(高雄校區)
050,資訊管理學系行動商務應用組(高雄校區)
050,資訊科技與通訊學系智慧機器人組(高雄校區)
050,資訊科技與通訊學系無人機應用設計組(高雄校區)
050,資訊科技與通訊學系(青年儲蓄帳戶組)(高雄校區)
050,應用英語學系英日雙語組(高雄校區)
050,應用日文學系日本實習組(高雄校區)
050,觀光管理學系境外日本實務組
050,觀光管理學系智慧旅遊暨多媒體行銷組(高雄校區)
050,觀光管理學系國際領隊導遊組(高雄校區)
050,休閒產業管理學系精品咖啡烘焙經營組(高雄校區)
058,電機工程學系甲組
058,管理學院學士班
058,諮商心理與人力資源發展學系終身學習與人力資源發展組
058,教育學院學士班
058,科技學院學士班
058,電機工程學系乙組
058,電機工程學系丙組
059,資訊管理學系
059,文化創意事業管理學系
059,傳播學系社會組
059,傳播學系自然組
059,傳播學系廣告公關新聞組
059,傳播學系數位影音設計組
059,傳播學系影劇表演藝術組
059,國際事務與企業學系外交與國際事務組
059,國際事務與企業學系企業與公共關係組
059,視覺藝術與設計學系繪畫文創組
059,視覺藝術與設計學系數位設計組
059,產品與室內設計學系
059,產品與室內設計學系(青年儲蓄帳戶組)
059,資訊工程學系人工智慧組
059,資訊工程學系互動設計組
059,自然生物科技學系療癒組
059,自然生物科技學系產品研發組
060,運動健康科學系
060,運動資訊與傳播學系(資訊組)
060,體育學系(青年儲蓄帳戶組)
060,休閒運動學系(一般組)
065,視覺傳達設計學系
065,應用日語學系
065,藝術設計學院學士班
063,應用音樂學系
079,英美語文學系
079,音樂應用學系-演奏教學B組
079,應用日語學系
079,工業管理與經營資訊學系
079,資訊管理學系智慧商務組
079,企業管理學系
079,理財與稅務規劃學系
079,財務金融學系
079,國際貿易學系
079,會計資訊學系
079,經濟學系
079,運動管理學系
079,資訊管理學系創新服務組
079,觀光事業學系
079,航空事業學系
079,資訊工程學系乙組
079,統計資訊與精算學系
079,資訊工程學系甲組
079,資訊管理學系電商行銷組
079,音樂應用學系-行政管理組
079,台灣文學系
079,資訊管理學系資管應用組
079,觀光數位知識學系
079,法律學系
079,運動資訊傳播學系
079,人文與資訊學系
079,人文與資訊學系一般組
079,人文與資訊學系文化行銷組
079,人文與資訊學系數位應用組
079,宗教文化與資訊管理學系
079,宗教文化與資訊管理學系-實務組
079,統計資訊與精算學系一般組
079,統計資訊與精算學系資料處理與決策組
079,統計資訊與精算學系運動大數據分析組
079,統計資訊與精算學系金融商品開發精算組
079,資訊工程學系
079,資訊工程學系科技應用組
079,資訊工程學系物聯網與創客組
079,資訊工程學系多媒體與遊戲設計組
079,資訊工程學系大數據應用組
079,國際貿易學系(青年儲蓄帳戶組)
079,觀光數位知識學系資訊應用組
079,觀光數位知識學系觀光旅遊組
079,觀光數位知識學系旅館餐飲組
079,觀光數位知識學系旅遊運輸組
099,企業管理學系(飛鳶組)
099,金融與合作經營學系(飛鳶組)
099,休閒運動管理學系(飛鳶組)
099,公共行政暨政策學系(飛鳶組)
099,財政學系(飛鳶組)
099,不動產與城鄉環境學系(飛鳶組)
099,經濟學系(飛鳶組)
099,社會工作學系(連江公費生)
099,應用外語學系(飛鳶組)
099,歷史學系(飛鳶組)
099,通訊工程學系(飛鳶組)
099,電機工程學系(飛鳶組)
101,土木與環境工程學系
101,工藝與創意設計學系
101,建築學系
100,輔導與諮商學系(自費)
100,外國語言學系英語教學組(自費)
100,教育學系(自費)
100,資訊管理學系(自然組)
100,景觀學系(社會組)
100,數位學習設計與管理學系(社會組)
100,景觀學系(自然組)
100,資訊管理學系(社會組)
100,數位學習設計與管理學系(自然組)
100,外國語言學系英語教學組(公費)
100,教育學系(公費)
100,輔導與諮商學系(公費)
100,機械與能源工程學系(青年儲蓄帳戶組)
108,醫學系(公費)
108,醫學系(自費)
108,國際服務產業管理學士學位學程
108,翔飛A組
108,翔飛B組
109,醫學系(自費)
109,醫學系(公費)
109,醫學系(公費生)
109,醫學系(展翅A組)
109,牙醫學系(展翅B組)
109,展翅C組
112,嬰幼兒保育學系(台北校區)
112,健康照護管理學系(台南校區)
112,長期照護學系(台北校區)
130,文化資產與創意學系(文化創意組)
130,公共事務學系(國際與兩岸事務組)
130,資訊應用學系(網路與多媒體組)
130,資訊應用學系(數位遊戲開發組)
130,社會學暨社會工作學系
130,公共事務學系(行政管理組)
130,歷史學系(B組)
130,資訊應用學系(動畫與數位內容組)
130,健康與創意蔬食產業學系
130,資訊應用學系(資訊系統與智慧應用組)
130,文化資產與創意學系(文化觀光組)
130,應用經濟學系(國際商務組)
130,管理學系(休閒事業管理組)
130,歷史學系(A組)
130,外國語文學系(青年儲蓄帳戶組)
130,管理學系(青年儲蓄帳戶組)
132,休閒遊憩管理學系
132,社會工作學系
132,幼兒教育學系
132,法律學士學位學程
132,經營管理學士學位學程
132,餐飲管理學系
132,行動科技學系
132,時尚美容藝術管理學系
132,動畫遊戲設計學系
134,外國語文學系(語文專業組)
134,資訊傳播學系(新媒體傳播內容組)
134,食品營養與保健生技學系(食品營養組)
134,休閒與遊憩管理學系(餐旅事業管理組)
134,物理治療學系
134,會計與資訊學系(會計稅務組)
134,財務金融學系(投資理財組)
134,財經法律學系(財經法律組)
134,視覺傳達設計學系
134,行動商務與多媒體應用學系(多媒體應用組)
134,數位媒體設計學系(數位動畫設計組)
134,資訊工程學系(人工智慧組)
134,健康產業管理學系(健康產業管理組)
134,心理學系(諮商與臨床心理組)
134,資訊工程學系(智慧電子組)
134,資訊傳播學系(智慧傳播應用組)
134,生物資訊與醫學工程學系(生醫資訊組)
134,醫學檢驗暨生物技術學系(醫事檢驗組)
134,幼兒教育學系
134,經營管理學系(企業創新管理組)
134,創意商品設計學系
134,時尚設計學系(時尚服裝設計組)
134,資訊工程學系(數位內容與遊戲設計組)
134,健康產業管理學系(醫療機構管理組)
134,食品營養與保健生技學系(保健化妝品組)
134,行動商務與多媒體應用學系(行動商務組)
134,生物資訊與醫學工程學系(醫學工程組)
134,心理學系(工商與社會心理組)
134,會計與資訊學系(智慧稽核組)
134,財經法律學系(科技法律組)
134,財務金融學系(金融科技組)
134,護理學系(高齡長期照護組)
134,經營管理學系(行銷管理組)
134,休閒與遊憩管理學系(旅遊事業管理組)
134,數位媒體設計學系(數位遊戲設計組)
134,社會工作學系(醫務社工與長期照顧雙專業組)
134,時尚設計學系(服飾創意設計組)
134,社會工作學系(社工心理雙專業組)
134,醫學檢驗暨生物技術學系(生物技術組)
134,外國語文學系(語文應用組)
134,室內設計學系(商業空間組)
134,室內設計學系(住宅空間組)
134,室內設計學系(智慧空間組)
134,心理學系(心理師研修組)
134,護理學系(國際護理組)
134,經營管理學系(國際企業管理組)
134,護理學系(臨床照護組)
134,醫學檢驗暨生物技術學系醫事檢驗組
134,醫學檢驗暨生物技術學系生物技術組
134,資訊工程學系人工智慧組
134,資訊工程學系數位內容與遊戲設計組
134,資訊傳播學系智慧傳播應用組
134,資訊傳播學系新媒體傳播內容組
134,會計與資訊學系會計稅務組
134,財務金融學系投資理財組
134,財務金融學系金融科技組
134,外國語文學系語文專業組
134,外國語文學系語文應用組
134,社會工作學系醫務社工與長期照顧雙專業組
134,幼兒教育學系文教產業組
134,幼兒教育學系幼教師資組
134,時尚設計學系服飾創意設計組
134,經營管理學系企業創新管理組(青年儲蓄帳戶組)
134,資訊工程學系智慧電子組
134,室內設計學系智慧空間組
134,會計與資訊學系智慧稽核組
152,聽力暨語言治療學系聽力組(青年儲蓄帳戶組)
151,電子工程學系(甲組)
151,工業設計學系(社會組)
151,資訊工程學系(A組)
151,電子工程學系(乙組)
151,資訊工程學系(B組)
151,工業設計學系(自然組)
044,智慧生活科技學系大數據與管理組
044,智慧生活科技學系智慧產品開發組
044,智慧生活設計學系空間設計組
044,智慧生活設計學系創意產品與汽車設計組
044,攝影與VR設計學系VR與互動媒體組
044,攝影與VR設計學系攝影與科技藝術組
044,佛教藝術學系
044,美術與文創學系文創設計組(青年儲蓄帳戶組)
110,企業與創業管理學系
110,行銷學系
110,國際物流與運輸管理學系
110,休閒事業管理學系
110,資訊管理學系
110,資訊管理學系(青年儲蓄帳戶組)
110,資訊傳播學系
110,電影與創意媒體學系
111,幼兒教育學系(師資培育學系)
111,觀光事業管理學系(休閒旅遊組)
111,觀光事業管理學系(經營管理組)
113,金融管理學院學士班
113,人工智慧學系
113,財務金融學系(青年儲蓄帳戶組)
133,中華文化與傳播學系
133,應用外語學系
133,餐旅管理學系(青年儲蓄帳戶組)

KeyError: '154'

In [37]:
set(list(df1['Group']))

{'地球與環境',
 '外語',
 '大眾傳播',
 '工程',
 '建築與設計',
 '教育',
 '數理化',
 '文史哲',
 '法政',
 '生命科學',
 '生物資源',
 '社會與心理',
 '管理',
 '藝術',
 '財經',
 '資訊',
 '遊憩與運動',
 '醫藥衛生'}

In [22]:
df = pd.read_csv("../datas/department2group.csv")

In [23]:
df

     University DEPARTMENT  (code)Group
0        國立臺灣大學      中國文學系    (3) 文史哲學群
1        國立臺灣大學     外國語文學系     (4) 外語學群
2        國立臺灣大學       歷史學系    (3) 文史哲學群
3        國立臺灣大學        哲學系    (3) 文史哲學群
4        國立臺灣大學       人類學系  (8) 社會與心理學群
...         ...        ...          ...
1996     國立金門大學       護理學系  (16) 醫藥衛生學群
1997     國立金門大學     長期照護學系  (16) 醫藥衛生學群
1998     國立金門大學     社會工作學系  (8) 社會與心理學群
1999     國立金門大學  都市計畫與景觀學系     (2) 工程學群
2000     國立金門大學  護理學系(公費生)  (16) 醫藥衛生學群

[2001 rows x 3 columns]

In [12]:
df1 = pd.read_csv('../datas/學測output.csv')
df2 = pd.read_csv('../datas/指考.csv')
    

dep  = dict() 

for i in df2['代碼']:
    dep[str(i).zfill(5)[:3]]=  dict()
for i in df1['Code']:
    dep[str(i).zfill(6)[:3]]=  dict()

for (i,j) in zip(df2['代碼'],df2['學系']):
    dep[str(i).zfill(5)[:3]][j] = 0
for (i,j) in zip(df1['Code'],df1['name']):
    dep[str(i).zfill(6)[:3]][j] =  0

for i in dep:
    for (k,l) in zip(range(1,len(dep[i])+1),dep[i].keys()):
        dep[i][l]=k

In [ ]:
dep['001']

In [ ]:
tt.sort()

In [44]:
table = dict() 
for i in zip(range(6),['--','底','後','均','前','頂']):
    table[i[1]] = i[0]

In [45]:
table

{'--': 0, '底': 1, '後': 2, '均': 3, '前': 4, '頂': 5}

In [13]:
def CreateGSAT(database):
    print("Create Table GSAT.")
 
    query = '''Create Table GSAT(
                    id VARCHAR NOT NULL,
                    quta SMALLINT,
                    
                    chinese SMALLINT NOT NULL,
                    english SMALLINT  NOT NULL,
                    math    SMALLINT NOT NULL,
                    society SMALLINT  NOT NULL,
                    science SMALLINT NOT NULL,
                    
                    
                    FOREIGN KEY (id) REFERENCES department(id),
                    PRIMARY KEY (id) 
                   
                    );'''

    database.execute(query)

In [14]:
def  InsertGSAT(database):
    print("Insert Data into GSAT.\n")
    
    table = dict() 
    for i in zip(range(6),['--','底','後','均','前','頂']):
        table[i[1]] = str(i[0])
    
    df1 = pd.read_csv('../datas/學測output.csv')
    
    

   
            
    query = '''INSERT INTO GSAT \n Values '''
    
    for i in zip(df1['Code'],df1['name'],df1['num'],df1['s_Chinese'],df1['s_English'],df1['s_Math'],df1['s_Society'],df1['s_Science']):               
        code = str(i[0]).zfill(6)[:3]
      
        temp = list()
        for index in range(3,8):
            temp.append(table[i[index]])
        query+= "('"+code+str(dep[code][i[1]]).zfill(3) +"',"+ str(i[2])+","+ ','.join(temp)+")"+",\n"
        
    query = query[:-2]
    query += ';'
   
    database.execute(query)

In [39]:
df = pd.read_csv('../datas/學測output.csv')

In [40]:
df

,Code,name,num,s_Chinese,s_English,s_Math,s_Society,s_Science,m_Chinese,m_English,m_Math,m_Society,m_Science
0,1012,中國文學系,20,前,均,均,均,--,3,6,--,8,--
1,1022,外國語文學系,46,前,頂,--,前,--,--,2.5,--,--,--
2,1032,歷史學系,24,前,前,均,前,--,3,3,--,3,--
3,1042,哲學系,20,前,前,前,--,--,6,3,6,--,--
4,1052,人類學系,13,--,均,--,均,--,--,5,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1983,153152,護理學系,18,--,後,--,--,後,--,4,--,--,3
1984,153162,長期照護學系,20,後,--,--,--,--,3,--,--,--,--
1985,153172,社會工作學系,20,--,--,--,均,--,--,--,--,3,--
1986,153182,都市計畫與景觀學系,20,後,--,--,--,--,5,--,3,4,--
1987,154012,基督教博雅學系,9,底,--,--,--,--,3,--,--,--,--

def CreateAST(database):
    print("Create Table AST.")
    
   
    query = '''Create Table AST(
                    id VARCHAR NOT NULL,
                    quta SMALLINT,
                    
                    chinese FLOAT NOT NULL,
                    english FLOAT NOT NULL,
                    math1   FLOAT NOT NULL,
                    math2  FLOAT NOT NULL,
                    
                    physical FLOAT NOT NULL,
                    chemistry FLOAT NOT NULL,
                    biological FLOAT NOT NULL,
                    
                    history FLOAT NOT NULL,
                    geography FLOAT NOT NULL,
                    citizen FLOAT NOT NULL,
                    
                    
                    FOREIGN KEY (id) REFERENCES department(id),
                    PRIMARY KEY (id) 
                   
                    );'''

    database.execute(query)

def CreateCareer(database):
    print("Create Table career.")
    
      query = '''Create Table career(
                    id VARCHAR NOT NULL,
                    career1 VARCHAR ,
                    career2 VARCHAR,
                    career2 VARCHAR,
                    
                    
                    FOREIGN KEY (id) REFERENCES depatment(id),
                    PRIMARY KEY (id) 
                   
                    );'''

    database.execute(query)

def CreateFuture(database):
    print("Create Table future.")
    query = '''Create Table career(
                    id VARCHAR NOT NULL,
                    work_ratio TINYINT ,
           
                    FOREIGN KEY (id) REFERENCES depatment(id),
                    PRIMARY KEY (id) 
                   
                    );'''

    database.execute(query)

In [ ]:
import pandas as pd
df = pd.read_excel("../datas/count.xlsx")

In [ ]:
df.dropna()

In [ ]:
df = pd.read_csv("../datas/學測output.csv")

In [ ]:
df

In [ ]:
CreateMainDepartment(db)

In [ ]:
InsertMainDepartment(db)

In [17]:
Drop(db,"mainDepartment")

In [16]:
db = ConnectDatabase("schools", "postgres", 123456, "localhost",5433)

Connect Success

In [18]:
tables = ['university','academy','mainDepartment','department','GSAT']

In [44]:
for i in tables:
    Drop(db,i)

In [45]:
def run():
    database = ConnectDatabase("schools", "postgres", 123456, "localhost",5433)
   
    CreateUniversity(database)
    InsertUniversity(database)
        
    CreateAcademy(database)
    InsertAcademy(database)
    
    CreateMainDepartment(database)
    InsertMainDepartment(database)
    
    CreateDepartment(database)
    InsertDepartment(database)
    
    CreateGSAT(db)
    InsertGSAT(db)
run()

Connect Success
Create Table university.
Insert Data into university.

Create Table academy.
Insert Data into academy.

Create Table mainDepartment.
Insert Data into mainDepartment.

Create Table department.
Insert Data into department.

KeyError: '應用數學系應用數學組'

Create Table GSAT.

In [76]:
CreateGSAT(db)
InsertGSAT(db)

Insert Data into GSAT.